{% extends "estrutura.html" %}

{% block titulo %}Home - SEDEX Blog{% endblock %}

{% block conteudo %}



<link rel="stylesheet" href="/css/home.css">


<header>
    <h2>Feed de Postagens</h2>
    <form action="/" method="post">
        <input class="search" type="text" name="searchButton" placeholder="Pesquisar...">
        <button>🔍</button>
    </form>
</header>

<main class="feed-container">
    <div class="criar-post">
        <img src="{{ post.foto_perfil }}" alt="" class="avatar">
        <form action="/novo-post" method="POST">
            <textarea name="conteudo" placeholder="O que está acontecendo?" required></textarea>
            <div class="acoes-post">
                <button type="submit">Postar</button>
            </div>
        </form>
    </div>
</main>

{% for post in posts %}
<div class="post">
    <a href="/post?postagemId={{ post.id }}" style="text-decoration: none; color: inherit;">
        <div class="usuario-info">
            <img src="{{ post.foto_perfil }}" alt="" class="avatar">
            <div class="dados-usuario">
                <h3>{{ post.nome }}</h3>
                <p>@{{ post.username }}</p>
            </div>
        </div>
        <p>{{ post.conteudo }}</p>
    </a>
    <div class="acoes-inputs">
        <a href="#">❤️</a>
        <a href="/post?postagemId={{ post.id }}">💬</a>
    </div>
    <span>{{ post.data_postagem|date("d/m/Y") }}</span>
</div>
{% else %}
<p>Não há postagens.</p>
{% endfor %}


{% endblock %}