<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/intro.css">
    <title>SEDEX - Intro</title>
</head>
<body>
    <header>
        <p>SEDEX</p>
        <div class="nav-links">
            <a href="register">CRIAR CONTA</a>
            <a href="/login?registro=sim">ENTRAR</a>
        </div>
    </header>

    <main>
        <section class="content">
            <img src="images/sedex_logo.png" alt="Logo Sedex">
            <h1>SEJA BEM-VINDO À NOSSA COMUNIDADE</h1>
            <p>Conecte-se, compartilhe e evolua conosco.<br>Seu espaço para crescer e aprender!</p>
            <a href="register">JUNTAR-SE AGORA</a>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 SEDEX. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
